{% extends "base.html" %}
{%block title%}Log In{% endblock title%}


{% block head %}
    <!-- Include your admin-specific CSS file here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock head %}


{% block body%}
<div class="container">
    <form method="POST" action="{{url_for('auth.login')}}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock body%}