{% extends "base.html" %}
{% block title %}Populate Portfolios{% endblock title %}

{% block body %}
   
    <div class="container">
        <form method="post" action="{{ url_for('db_view.populate_projects') }}">
            <h3>Projects</h3>
            <label for="portfolio">Portfolio:</label>
            <select id="portfolio" name="portfolio" required>
                <option value="Agilisys">Agilisys</option>
                <option value="Accelerate People">Accelerate People</option>
                <option value="Avado">Avado</option>
                <option value="Baby Zone">Baby Zone</option>
                <option value="BCI Capital">BCI Capital</option>
                <option value="BC Lead Generation">BC Lead Generation</option>
                <option value="BC UK">BC UK</option>
                <option value="Bright Owl">Bright Owl</option>
                <option value="Coraaj">Coraaj</option>
                <option value="Comms Coach">Comms Coach</option>
                <option value="Contentive">Contentive</option>
                <option value="Delfy">Delfy</option>
                <option value="English Score">English Score</option>
                <option value="Fospha">Fospha</option>
                <option value="Generative AI">Generative AI</option>
                <option value="Growth Mindset">Growth Mindset</option>
                <option value="Heme Health">Heme Health</option>
                <option value="Hive Learning">Hive Learning</option>
                <option value="Instrumental">Instrumental</option>
                <option value="IntentPro">IntentPro</option>
                <option value="Internal Projects">Internal Projects</option>
                <option value="Koodoo">Koodoo</option>
                <option value="Kloo">Kloo</option>
                <option value="Oakbrook Finance">Oakbrook Finance</option>
                <option value="Red Team">Red Team</option>
                <option value="Rajasthan Royals">Rajasthan Royals</option>
                <option value="Researcher">Researcher</option>
                <option value="Salary Finance">Salary Finance</option>
                <option value="Scoresy">Scoresy</option>
            </select><br><br>

            <label for="project_name">Project name</label>
            <input type="project_name" id="project_name" name="project_name" placeholder="Enter project_name" required/><br>
            
            <label for="project_description">Project description</label>
            <!-- <input id="project_description" name="project_description" required><br><br> -->
            <textarea name="project_description" id="project_description" cols="30" rows="5"></textarea><br>


            <button type="submit">Submit</button>
        </form>
    </div>
    
{% endblock body %}
