{% extends "base.html" %}
{%block title%}Update form{% endblock title%}

{% block body%}
    <h1></h1>
    <form method="POST" action="{{url_for('user_view.process_form')}}" id="report">
        <label for="date">Select a Date:</label>
         <input type="date" id="selected_date" name="selected_date" required><br><br>
        
        <label for="work">Input</label>
        <textarea id="input1" name="user_input" required></textarea><br><br>
        <label for="work">Output</label>
        <textarea id="output1" name="user_output" required></textarea><br><br>
        <label for="kpi">KPI</label>
        <textarea id="kpi" name="kpi" required></textarea><br><br>

        <label for="username">Project</label>
        <select type="text" id="project" name="project" required>
            {% for item in project_names %}
            <option value="{{ item[0] }}">{{ item[0] }}</option>
            {% endfor %}
            <br><br>    
        </select>
        <div class="input-group">
          <label for="service">Department</label>
          <select id="service" name="services" required>
              <option value="DSaaS">DSaaS</option>
              <option value="Product">Product</option>
              <option value="MarTech">MarTech</option>
          </select>
        </div>
      
      <div class="input-group">
          <label for="progress">Progress</label>
          <select id="progress" name="progress" required>
              <option value="In Progress">In Progress</option>
              <option value="Completed">Completed</option>
          </select>
      </div>
        <br><br>      
        <label for="team">Team Members</label>
        <textarea id="team" name="team" ></textarea><br><br>
        <label for="blockers">Blocker</label>
        <textarea id="blockers" name="blockers" ></textarea><br><br>
         <!-- Date selection input added here -->
         <input type="submit" value="Submit">
    </form>
</body>
</html>
{% endblock body%}
