/* Custom CSS for the Data Table */

/* Add some spacing and style to the container */
body{
    background-image: url('plain.png'); /* Replace 'your-background-image.jpg' with the actual image file path */
    background-size: cover;
}
.table-container {
    max-height: 550px; 
    max-width: 1430px;/* Adjust the max height as needed */
    overflow: auto;
    margin-left: 10px;
    
    
}
/* Style the heading */
h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Style the table */
table {
    width: 3030px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 40px;
    border-color: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* Style the "Report" button */
.report_button button {
    display: inline-block;
    padding: 12px 40px; /* Adjust the padding as needed for button size */
    background-color: #FF0000; /* Red background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Adjust the font size as needed */
    margin-top: 10px;
    transition: background-color 0.3s; /* Add a smooth color transition on hover */
    margin-left: 628px;
}

.report_button button:hover {
    background-color: #931c1c; /* Darker red on hover */
}

/* Style table header */
thead {
    background-color: #FF0000;
    color: #fff;
}

/* Style table header cells */
th {
    padding: 10px;
    text-align: left;
}

/* Style table body */
tbody {
    background-color: #ffffff;
}

/* Style table rows */
tr {
    border-bottom: 1px solid #ddd;
}

/* Style table cells */
td {
    padding: 10px;
}

/* Style alternating rows */
tr:nth-child(even) {
    background-color: #e0e0e0;
}

/* Hover effect on table rows */
tr:hover {
    background-color: #d0d0d0;
}
#excl_button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #05680f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
#excl_button:hover {
    background-color: #0e9a27;
}

.back-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 330px;
    margin-left: 625px
}

.back-button:hover {
    background-color: #555;
}
